<!--
<div  class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <form data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
        <fieldset>
            &lt;!&ndash;<div class="form-group">
                <label for="org">Name Of ORG</label>
                <input type="text" required id="org" name="org" class="form-control" data-ng-model="credentials.org" placeholder="Organization Name">
            </div>&ndash;&gt;
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="mobileNumber">Mobile Number</label>
                <input type="text" id="mobileNumber" name="mobileNumber" class="form-control" data-ng-model="credentials.mobileNumber" placeholder="eg:9848022338">
            </div>
            <div class="text-center form-group">
                <button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
                <a href="/#!/signin" class="show-signup">Sign in</a>
            </div>
            <div data-ng-show="error" class="text-center text-danger">
                <strong>{{error}}</strong>
            </div>
        </fieldset>
    </form>
</div>
-->
<div class=" col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-6 ng-scope">
    <div class="widget flat radius-bordered">
        <div class="widget-header bg-blue">
            <span class="widget-caption">Registration Form</span>
        </div>
        <div class="widget-body">
            <div id="registration-form">
                <div data-ng-show="error" class="text-center text-danger">
                    <strong>{{error}}</strong>
                </div>
                <form data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off"
                      role="form" style="padding: 20px;">
                    <div class="form-title">
                        User Information
                    </div>
                    <div class="form-group">
                             <span class="input-icon icon-right">
                                 <input type="text" class="form-control" name="firstName" id="firstName"
                                        placeholder="First Name"
                                        data-ng-model="credentials.firstName" required><i
                                     class="glyphicon glyphicon-user circular"></i>
                             </span>
                    </div>
                    <div class="form-group">
                            <span class="input-icon icon-right">
                                 <input type="text" class="form-control" name="lastName" id="lastName"
                                        placeholder="Last Name"
                                        data-ng-model="credentials.lastName" required> <i
                                    class="glyphicon glyphicon-user circular"></i>
                            </span>
                    </div>
                    <div class="form-group">
                            <span class="input-icon icon-right">
                                <input type="text" class="form-control" name="email" id="email"
                                       placeholder="Email Address"
                                       data-ng-model="credentials.email" required> <i
                                    class="fa fa-envelope-o circular"></i>
                             </span>
                    </div>
                    <div class="form-group">
							<span class="input-icon icon-right">
                                <input type="text" class="form-control" name="username" id="username"
                                       placeholder="User Name"
                                       data-ng-model="credentials.username" required><i
                                    class="glyphicon glyphicon-user circular"></i>
                            </span>
                    </div>
                    <div class="form-group">
                            <span class="input-icon icon-right">
                                <input type="password" class="form-control" name="password" id="password"
                                       placeholder="Password"
                                       data-ng-model="credentials.password" required> <i
                                    class="fa fa-lock circular"></i>
                            </span>
                    </div>
                    <div class="form-group">
                        <span class="input-icon icon-right">
                            <input type="password" class="form-control" id="confirmPasswordInput" required
                                   data-ng-model="credentials.confirmpassword" placeholder="ConfirmPassword"><i
                                class="fa fa-lock circular"></i>
                         </span>
                    </div>
                    <div class="form-group">
                        <span class="input-icon icon-right">
                            <input type="text" class="form-control" id="role" name="role" placeholder="Role">
                            <i class="glyphicon glyphicon-user circular"></i>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="input-icon icon-right">
                            <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" data-ng-model = "credentials.mobileNumber" placeholder="Mobile Number">
                            <i class="glyphicon glyphicon-phone"></i>
                        </span>
                    </div>
                    <div>
                        <div class="col-sm-4"></div>
                        <button type="submit" class="btn btn-blue col-sm-4">Register</button>
                        <div class="col-sm-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>