<!DOCTYPE html>
<html>
	<head>
    	<title>Nextsphere LeaveMS</title>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/pegasus/0.3.2/pegasus.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/af.js"></script>
    	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.0/animate.min.css">
        <link id="beyond-link" href="//mindpowerclinic.com/borrgo/assets/css/beyond.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  	</head>
  	<body>
    <div id="header" class="col-md-12" style="background-color:darkcyan">
        <div class="col-md-6">
            <h1 class="top-org-name">
                NextSphere Technology
            </h1>
            <!--<div class="nav" ng-if="authentication.user">
                <a class="col-md-12 col-md-offset-12" style ="color:red" href="/auth/signout">Sign-Out</a>
            </div>-->
            <div class="clear">
            </div>
        </div>
    </div>
  		<section ng-view></section>
		
		<script type="text/javascript">
			window.user = <%- user || 'null' %>;
		</script>

		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>

		<script type="text/javascript" src="application.js"></script>
		<script type="text/javascript" src="controllers/authentication.client.controller.js"></script>
		<script type="text/javascript" src="controllers/index.client.controller.js"></script>
		<script type="text/javascript" src="services/authentication.client.service.js"></script>
		<script type="text/javascript" src="config/application.client.routes.js"></script>

        <script type="text/javascript" src="controllers/leave.client.controller.js"></script>
         <script type="text/javascript" src="config/leave.client.routes.js"></script>


  	</body>
</html>